.input {
  color: white;
  border: 2px solid #5b65ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
}

.input:active {
  box-shadow: 2px 2px 15px #5b65ff inset;
}

body{
  background-size: contain, cover;
background: #1a1a1a;
background: linear-gradient(90deg, rgba(26, 26, 26, 1) 0%, rgba(48, 48, 48, 1) 35%, rgba(66, 66, 66, 1) 100%);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
