.input-style {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  background-color: rgba( 0,0,0,0);
  
}

.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    background-color: rgba( 0,0,0,0);

}



body{
width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  color: #ccc;
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1{
  font-size: 40px ;
}


p{
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


button {
  font-size: 1.5rem;
  color: #fafafa;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #fafafa;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 35px 0;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

a{
  color: beige;
}

#container{
  font-size: 20px;
}